# Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

from sklearn.metrics import accuracy_score

In [2]:
pd.set_option('display.max_columns', None)

# Data Reading

In [3]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

fhc = pd.read_csv(r"D:\great learning\competition\GL\First_Health_Camp.csv")
shc = pd.read_csv(r"D:\great learning\competition\GL\Second_Health_Camp.csv")
thc = pd.read_csv(r"D:\great learning\competition\GL\Third_Health_Camp.csv")
hcdetail = pd.read_csv(r"D:\great learning\competition\GL\Health_Camp_Detail.csv")
pp = pd.read_csv(r"D:\great learning\competition\GL\Patient_Details.csv")

In [4]:
train.shape,test.shape

((52694, 9), (22584, 8))

# Combining the data

In [5]:

combined = pd.concat([train,test],ignore_index=True)

In [6]:
combined.head()

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,outcome
0,526927,6570,14/05/05,0,0,0,0,0,0.0
1,510379,6534,26/05/06,0,0,0,0,0,1.0
2,520968,6557,07/01/04,0,0,0,0,0,1.0
3,507625,6535,12/02/04,0,0,0,0,0,0.0
4,502611,6581,14/03/04,0,0,0,0,0,0.0

In [7]:
combined.shape

(75278, 9)

In [8]:
fhc.head(3)

   Patient_ID  Health_Camp_ID  Donation  Health_Score  Unnamed: 4
0      506181            6560        40      0.439024         NaN
1      494977            6560        20      0.097561         NaN
2      518680            6560        10      0.048780         NaN

# Merging the Data

In [9]:
combined =pd.merge(left= combined, right = fhc, on = ['Patient_ID','Health_Camp_ID'],how= 'left' )

In [10]:
combined =pd.merge(left= combined, right = shc, on = ['Patient_ID','Health_Camp_ID'],how= 'left' )

In [11]:
combined =pd.merge(left= combined, right = thc, on = ['Patient_ID','Health_Camp_ID'],how= 'left' )

In [12]:
combined.shape

(75278, 15)

In [13]:
combined =pd.merge(left= combined, right = pp, on = ['Patient_ID'],how= 'left' )

In [14]:
combined =pd.merge(left= combined, right = hcdetail, on = ['Health_Camp_ID'],how= 'left' )

In [15]:
combined.head()

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,outcome,Donation,Health_Score,Unnamed: 4,Health Score,Number_of_stall_visited,Last_Stall_Visited_Number,Online_Follower,LinkedIn_Shared,Twitter_Shared,Facebook_Shared,Income,Education_Score,Age,First_Interaction,City_Type,Employer_Category,Camp_Start_Date,Camp_End_Date,Category1,Category2,Category3
0,526927,6570,14/05/05,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,None,None,None,14-Nov-04,NaN,NaN,09-Jul-05,22-Jul-05,First,E,2
1,510379,6534,26/05/06,0,0,0,0,0,1.0,NaN,NaN,NaN,0.402054,NaN,NaN,0,0,0,0,None,None,None,26-May-06,H,NaN,17-Oct-05,07-Nov-07,Second,A,2
2,520968,6557,07/01/04,0,0,0,0,0,1.0,20.0,0.611111,NaN,NaN,NaN,NaN,0,0,0,0,None,None,None,07-Jan-04,H,NaN,04-Jan-04,09-Jan-04,First,C,2
3,507625,6535,12/02/04,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,None,None,None,12-Feb-04,B,NaN,01-Feb-04,18-Feb-04,First,E,2
4,502611,6581,14/03/04,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,None,None,None,14-Mar-04,B,NaN,07-Dec-03,13-Jun-04,First,F,2

# Feature Engineering

In [16]:
#code to convert string into date
combined['Registration_Date'] = pd.to_datetime(combined.Registration_Date,dayfirst=True)

combined['Registration_Month'] = combined.Registration_Date.dt.month
combined['Registration_Year'] = combined.Registration_Date.dt.year
combined['Registration_Day'] = combined.Registration_Date.dt.day

In [17]:
#
combined['Camp_Start_Month'] = pd.DatetimeIndex(combined.Camp_Start_Date).month
combined['Camp_Start_Year'] = pd.DatetimeIndex(combined.Camp_Start_Date).year
combined['Camp_Start_Day'] = pd.DatetimeIndex(combined.Camp_Start_Date).day

In [18]:
combined['Camp_End_Month'] = pd.DatetimeIndex(combined.Camp_End_Date).month
combined['Camp_End_Year'] = pd.DatetimeIndex(combined.Camp_End_Date).year
combined['Camp_End_Day'] = pd.DatetimeIndex(combined.Camp_End_Date).day

In [19]:
combined.head()

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,outcome,Donation,Health_Score,Unnamed: 4,Health Score,Number_of_stall_visited,Last_Stall_Visited_Number,Online_Follower,LinkedIn_Shared,Twitter_Shared,Facebook_Shared,Income,Education_Score,Age,First_Interaction,City_Type,Employer_Category,Camp_Start_Date,Camp_End_Date,Category1,Category2,Category3,Registration_Month,Registration_Year,Registration_Day,Camp_Start_Month,Camp_Start_Year,Camp_Start_Day,Camp_End_Month,Camp_End_Year,Camp_End_Day
0,526927,6570,2005-05-14,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,None,None,None,14-Nov-04,NaN,NaN,09-Jul-05,22-Jul-05,First,E,2,5.0,2005.0,14.0,7,2005,9,7,2005,22
1,510379,6534,2006-05-26,0,0,0,0,0,1.0,NaN,NaN,NaN,0.402054,NaN,NaN,0,0,0,0,None,None,None,26-May-06,H,NaN,17-Oct-05,07-Nov-07,Second,A,2,5.0,2006.0,26.0,10,2005,17,11,2007,7
2,520968,6557,2004-01-07,0,0,0,0,0,1.0,20.0,0.611111,NaN,NaN,NaN,NaN,0,0,0,0,None,None,None,07-Jan-04,H,NaN,04-Jan-04,09-Jan-04,First,C,2,1.0,2004.0,7.0,1,2004,4,1,2004,9
3,507625,6535,2004-02-12,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,None,None,None,12-Feb-04,B,NaN,01-Feb-04,18-Feb-04,First,E,2,2.0,2004.0,12.0,2,2004,1,2,2004,18
4,502611,6581,2004-03-14,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,None,None,None,14-Mar-04,B,NaN,07-Dec-03,13-Jun-04,First,F,2,3.0,2004.0,14.0,12,2003,7,6,2004,13

In [20]:
#creating online presence using patient data
combined['Online_Presence'] = combined['Online_Follower']+combined['LinkedIn_Shared']+combined['Twitter_Shared']+combined['Facebook_Shared']

In [21]:
#dropping above columns
combined = combined.drop(['Online_Follower','LinkedIn_Shared','Twitter_Shared','Facebook_Shared'],axis=1)

In [22]:
#camp Duration from CampEndDate - Camp Start Date

combined['Camp_Start_Date'] = pd.to_datetime(combined.Camp_Start_Date,dayfirst=True)

combined['Camp_End_Date'] = pd.to_datetime(combined.Camp_End_Date,dayfirst=True)

combined['Camp_Duration'] = (combined['Camp_End_Date'] -combined['Camp_Start_Date'] ).dt.days

In [23]:
#converting the First interaction date into datetime format
combined['First_Interaction'] = pd.to_datetime(combined.First_Interaction,dayfirst=True)


#Day_interaction_diff = registration date -first interaction
combined['Int_Days_Diff'] = (combined['Registration_Date']-combined['First_Interaction']).dt.days

In [24]:
combined.head()

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,outcome,Donation,Health_Score,Unnamed: 4,Health Score,Number_of_stall_visited,Last_Stall_Visited_Number,Income,Education_Score,Age,First_Interaction,City_Type,Employer_Category,Camp_Start_Date,Camp_End_Date,Category1,Category2,Category3,Registration_Month,Registration_Year,Registration_Day,Camp_Start_Month,Camp_Start_Year,Camp_Start_Day,Camp_End_Month,Camp_End_Year,Camp_End_Day,Online_Presence,Camp_Duration,Int_Days_Diff
0,526927,6570,2005-05-14,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,2004-11-14,NaN,NaN,2005-07-09,2005-07-22,First,E,2,5.0,2005.0,14.0,7,2005,9,7,2005,22,0,13,181.0
1,510379,6534,2006-05-26,0,0,0,0,0,1.0,NaN,NaN,NaN,0.402054,NaN,NaN,None,None,None,2006-05-26,H,NaN,2005-10-17,2007-11-07,Second,A,2,5.0,2006.0,26.0,10,2005,17,11,2007,7,0,751,0.0
2,520968,6557,2004-01-07,0,0,0,0,0,1.0,20.0,0.611111,NaN,NaN,NaN,NaN,None,None,None,2004-01-07,H,NaN,2004-01-04,2004-01-09,First,C,2,1.0,2004.0,7.0,1,2004,4,1,2004,9,0,5,0.0
3,507625,6535,2004-02-12,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,2004-02-12,B,NaN,2004-02-01,2004-02-18,First,E,2,2.0,2004.0,12.0,2,2004,1,2,2004,18,0,17,0.0
4,502611,6581,2004-03-14,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,2004-03-14,B,NaN,2003-12-07,2004-06-13,First,F,2,3.0,2004.0,14.0,12,2003,7,6,2004,13,0,189,0.0

In [25]:
#Unique patient per HC
combined['HC_per_patiency'] = combined.groupby('Patient_ID')['Health_Camp_ID'].transform('nunique')
combined["Patient_Per_HC"] = combined.groupby('Health_Camp_ID')['Patient_ID'].transform('nunique')

In [26]:
#unique patient visited in beginning of the year camp started

combined['Patients_Per_Year'] = combined.groupby('Camp_Start_Year')['Patient_ID'].transform('nunique')
combined['Patients_Per_Month'] = combined.groupby('Camp_Start_Month')['Patient_ID'].transform('nunique')

In [27]:
combined.shape

(75278, 42)

In [28]:
#unique patient visited in END of the year camp started

combined['Patients_Per_End_Year'] = combined.groupby('Camp_End_Year')['Patient_ID'].transform('nunique')
combined['Patients_Per_End_Month'] = combined.groupby('Camp_End_Month')['Patient_ID'].transform('nunique')

In [29]:
combined.head()

,Patient_ID,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,outcome,Donation,Health_Score,Unnamed: 4,Health Score,Number_of_stall_visited,Last_Stall_Visited_Number,Income,Education_Score,Age,First_Interaction,City_Type,Employer_Category,Camp_Start_Date,Camp_End_Date,Category1,Category2,Category3,Registration_Month,Registration_Year,Registration_Day,Camp_Start_Month,Camp_Start_Year,Camp_Start_Day,Camp_End_Month,Camp_End_Year,Camp_End_Day,Online_Presence,Camp_Duration,Int_Days_Diff,HC_per_patiency,Patient_Per_HC,Patients_Per_Year,Patients_Per_Month,Patients_Per_End_Year,Patients_Per_End_Month
0,526927,6570,2005-05-14,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,2004-11-14,NaN,NaN,2005-07-09,2005-07-22,First,E,2,5.0,2005.0,14.0,7,2005,9,7,2005,22,0,13,181.0,2,3564,22359,3564,17330,7008
1,510379,6534,2006-05-26,0,0,0,0,0,1.0,NaN,NaN,NaN,0.402054,NaN,NaN,None,None,None,2006-05-26,H,NaN,2005-10-17,2007-11-07,Second,A,2,5.0,2006.0,26.0,10,2005,17,11,2007,7,0,751,0.0,1,3597,22359,7346,10197,11374
2,520968,6557,2004-01-07,0,0,0,0,0,1.0,20.0,0.611111,NaN,NaN,NaN,NaN,None,None,None,2004-01-07,H,NaN,2004-01-04,2004-01-09,First,C,2,1.0,2004.0,7.0,1,2004,4,1,2004,9,0,5,0.0,1,52,10902,6902,6319,5293
3,507625,6535,2004-02-12,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,2004-02-12,B,NaN,2004-02-01,2004-02-18,First,E,2,2.0,2004.0,12.0,2,2004,1,2,2004,18,0,17,0.0,1,1882,10902,8717,6319,9102
4,502611,6581,2004-03-14,0,0,0,0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,2004-03-14,B,NaN,2003-12-07,2004-06-13,First,F,2,3.0,2004.0,14.0,12,2003,7,6,2004,13,0,189,0.0,2,1485,3081,6272,6319,5140

In [30]:
combined.shape

(75278, 44)

In [31]:
def newfeature(w,x,y,z):
    if((w>0)|(x>0)|(y>0)|(z>0)):
        return(1)
    else:
        return(0)

In [32]:
combined.columns

Index(['Patient_ID', 'Health_Camp_ID', 'Registration_Date', 'Var1', 'Var2',
       'Var3', 'Var4', 'Var5', 'outcome', 'Donation', 'Health_Score',
       'Unnamed: 4', 'Health Score', 'Number_of_stall_visited',
       'Last_Stall_Visited_Number', 'Income', 'Education_Score', 'Age',
       'First_Interaction', 'City_Type', 'Employer_Category',
       'Camp_Start_Date', 'Camp_End_Date', 'Category1', 'Category2',
       'Category3', 'Registration_Month', 'Registration_Year',
       'Registration_Day', 'Camp_Start_Month', 'Camp_Start_Year',
       'Camp_Start_Day', 'Camp_End_Month', 'Camp_End_Year', 'Camp_End_Day',
       'Online_Presence', 'Camp_Duration', 'Int_Days_Diff', 'HC_per_patiency',
       'Patient_Per_HC', 'Patients_Per_Year', 'Patients_Per_Month',
       'Patients_Per_End_Year', 'Patients_Per_End_Month'],
      dtype='object')

In [33]:
combined['newfeature'] = combined.apply(lambda x:newfeature(x['Health_Score'],x['Health Score'],x['Number_of_stall_visited'],x['Last_Stall_Visited_Number']),axis=1)

# Dropping Unnecessary variables

In [34]:

combined.columns

Index(['Patient_ID', 'Health_Camp_ID', 'Registration_Date', 'Var1', 'Var2',
       'Var3', 'Var4', 'Var5', 'outcome', 'Donation', 'Health_Score',
       'Unnamed: 4', 'Health Score', 'Number_of_stall_visited',
       'Last_Stall_Visited_Number', 'Income', 'Education_Score', 'Age',
       'First_Interaction', 'City_Type', 'Employer_Category',
       'Camp_Start_Date', 'Camp_End_Date', 'Category1', 'Category2',
       'Category3', 'Registration_Month', 'Registration_Year',
       'Registration_Day', 'Camp_Start_Month', 'Camp_Start_Year',
       'Camp_Start_Day', 'Camp_End_Month', 'Camp_End_Year', 'Camp_End_Day',
       'Online_Presence', 'Camp_Duration', 'Int_Days_Diff', 'HC_per_patiency',
       'Patient_Per_HC', 'Patients_Per_Year', 'Patients_Per_Month',
       'Patients_Per_End_Year', 'Patients_Per_End_Month', 'newfeature'],
      dtype='object')

In [35]:
new = combined.drop(['Patient_ID', 'Health_Camp_ID', 'Registration_Date','Donation', 'Health_Score', 'Unnamed: 4',
                   'Health Score', 'Number_of_stall_visited', 'Last_Stall_Visited_Number','Camp_Start_Date', 
                    'Camp_End_Date','Income', 'Education_Score', 'Age', 'First_Interaction','City_Type', 
                    'Employer_Category'],axis=1)

# Null value treatment

In [36]:
new.isnull().sum()

Var1                          0
Var2                          0
Var3                          0
Var4                          0
Var5                          0
outcome                   22584
Category1                     0
Category2                     0
Category3                     0
Registration_Month          334
Registration_Year           334
Registration_Day            334
Camp_Start_Month              0
Camp_Start_Year               0
Camp_Start_Day                0
Camp_End_Month                0
Camp_End_Year                 0
Camp_End_Day                  0
Online_Presence               0
Camp_Duration                 0
Int_Days_Diff               334
HC_per_patiency               0
Patient_Per_HC                0
Patients_Per_Year             0
Patients_Per_Month            0
Patients_Per_End_Year         0
Patients_Per_End_Month        0
newfeature                    0
dtype: int64

In [37]:
new.Category1.value_counts()

First     49892
Second    15114
Third     10272
Name: Category1, dtype: int64

In [38]:
mapped  = {'First':1,'Second':2,'Third':3}
new['Category1'] = new.Category1.map(mapped)

In [39]:
new.Category2.value_counts()

F    24660
E    20988
A    10993
G    10272
D     4121
B     2426
C     1818
Name: Category2, dtype: int64

In [40]:

new['Category2'] = pd.factorize(new.Category2,sort =True)[0]

In [41]:
new.isnull().sum()

Var1                          0
Var2                          0
Var3                          0
Var4                          0
Var5                          0
outcome                   22584
Category1                     0
Category2                     0
Category3                     0
Registration_Month          334
Registration_Year           334
Registration_Day            334
Camp_Start_Month              0
Camp_Start_Year               0
Camp_Start_Day                0
Camp_End_Month                0
Camp_End_Year                 0
Camp_End_Day                  0
Online_Presence               0
Camp_Duration                 0
Int_Days_Diff               334
HC_per_patiency               0
Patient_Per_HC                0
Patients_Per_Year             0
Patients_Per_Month            0
Patients_Per_End_Year         0
Patients_Per_End_Month        0
newfeature                    0
dtype: int64

In [42]:
new["Registration_Month"] = new["Registration_Month"].fillna(new["Registration_Month"].mode()[0])

In [43]:
new['Registration_Year'] = new['Registration_Year'].fillna(new["Registration_Year"].mode()[0])

In [44]:
new['Registration_Day'] = new['Registration_Day'].fillna(new["Registration_Day"].mode()[0])

In [45]:
new['Int_Days_Diff'] = new['Int_Days_Diff'].fillna(new['Int_Days_Diff'].median())

In [46]:
new.isnull().sum()

Var1                          0
Var2                          0
Var3                          0
Var4                          0
Var5                          0
outcome                   22584
Category1                     0
Category2                     0
Category3                     0
Registration_Month            0
Registration_Year             0
Registration_Day              0
Camp_Start_Month              0
Camp_Start_Year               0
Camp_Start_Day                0
Camp_End_Month                0
Camp_End_Year                 0
Camp_End_Day                  0
Online_Presence               0
Camp_Duration                 0
Int_Days_Diff                 0
HC_per_patiency               0
Patient_Per_HC                0
Patients_Per_Year             0
Patients_Per_Month            0
Patients_Per_End_Year         0
Patients_Per_End_Month        0
newfeature                    0
dtype: int64

# Splitting the data

In [47]:
train.shape,test.shape

((52694, 9), (22584, 8))

In [48]:
newtrain = new.loc[0:train.shape[0]-1,:]
newtest = new.loc[train.shape[0]:,:]

In [49]:
newtrain.shape,newtest.shape

((52694, 28), (22584, 28))

In [50]:
#Drop target from test
newtest.drop('outcome',axis=1,inplace=True)

In [51]:
newtrain.shape,newtest.shape

((52694, 28), (22584, 27))

# Model Building

In [52]:
#data in x ,y
X= newtrain.drop('outcome',axis=1)
y = newtrain['outcome']

In [53]:
from sklearn.model_selection import train_test_split

In [54]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=7)

In [70]:
dct = DecisionTreeClassifier()

In [74]:
model = dct.fit(x_train,y_train)

In [76]:
pred = model.predict(x_test)

In [78]:
accuracy_score(y_test,pred)

1.0

In [55]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from catboost import CatBoostClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.metrics import accuracy_score

In [56]:
#model 
lr = LogisticRegression()
dct = DecisionTreeClassifier()
rf = RandomForestClassifier()
gbm = GradientBoostingClassifier()
xgb =  XGBClassifier(eval_metric = 'auc')
cboost = CatBoostClassifier(eval_metric = 'AUC')

In [57]:

def model_results(model,x_train,y_train,x_test,y_test):
    print(str(model))
    model.fit(x_train,y_train)
    y_predtr = model.predict(x_train)
    y_pred = model.predict(x_test)
    
    acctrain = accuracy_score(y_train,y_predtr)
    acctest = accuracy_score(y_test,y_pred)
   
    print('accuracy score for train :\t',acctrain)
    print('accuracy score for test :\t',acctest)

In [58]:
model_results(lr,x_train,y_train,x_test,y_test)

LogisticRegression()
accuracy score for train :	 0.7297317813765182
accuracy score for test :	 0.7227873083345985

In [59]:
model_results(dct,x_train,y_train,x_test,y_test)

DecisionTreeClassifier()
accuracy score for train :	 1.0
accuracy score for test :	 1.0

In [60]:
model_results(rf,x_train,y_train,x_test,y_test)

RandomForestClassifier()
accuracy score for train :	 1.0
accuracy score for test :	 1.0

In [79]:
model_results(gbm,x_train,y_train,x_test,y_test)

GradientBoostingClassifier()
accuracy score for train :	 1.0
accuracy score for test :	 1.0

# Final Model

In [61]:
rf = RandomForestClassifier()

In [62]:
rf.fit(X,y)

RandomForestClassifier()

In [63]:
accuracy_score(y,rf.predict(X))

1.0

In [64]:
pred =rf.predict(newtest)

In [65]:
sample = pd.read_csv(r"D:\great learning\competition\GL\Sample_Submission.csv")

In [66]:
sample.outcome = pred

In [67]:
sample.shape

(22584, 2)

In [68]:
sample.to_csv('sample4.csv',index=False)

# Summary
* Importing the libraries
* Data Reading
* Combining the data
* Merging the Data
* Feature Engineering
* Dropping Unnecessary variables
* Null value treatment
* Splitting the data
* Model Building
    *Tried different model
* Final model RandomForest with accuracy of 100%